# CMake Build Files
build/
_build/

# Executable Binary
bin/
_bin/

# Doxygen Documention
docs/
_docs/

# Libraries
lib/
_lib/
libs/
_libs/

# Visual Studio Code Configuration Files
.vscode/

# Visual Studio Configuration Files
.vs/

# MacOS Directory File
.DS_STORE
