# CMake Build Files
build/
_build/

# Executable Binary
bin/
_bin/

# Doxygen Documention
docs/
_docs/
doc/
_doc/

# Libraries
lib/
_lib/
libs/
_libs/

# External projects source code
external/
_external/

# External library headers
include/unity

# Visual Studio Code Configuration Files
.vscode/

# Visual Studio Configuration Files
.vs/

# MacOS Directory File
.DS_STORE
